:root {
  --swiper-navigation-size: 24px;
  --swiper-navigation-color: #1d1d1b;
  --swiper-pagination-color: rgb(55, 55, 55);
}

@media screen and (min-width: 768px) {
  :root {
    --swiper-navigation-size: 38px;
  }
}

.swiper-pagination-bullet-active {
  @apply scale-125 duration-500;
}

.swiper-pagination-margin-top {
  margin-top: 20px;
}
