.gradient-first-text,
.gradient-second-text {
  background: linear-gradient(to bottom, #30a6e9 0%, #751cba 100%);
  background-clip: text;
  -webkit-text-stroke: 12px transparent;
}

.gradient-first-text {
  color: #ead6f8;
}

.gradient-second-text {
  color: #ead3f9;
}

@media screen and (min-width: 1024px) {
  .gradient-first-text,
  .gradient-second-text {
    -webkit-text-stroke: 20px transparent;
  }
}

.accent-news {
  filter: drop-shadow(0px 0px 200px rgba(81, 28, 186, 0.9));
}
