@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bungee";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../app/fonts/Bungee-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../app/fonts/OpenSans-ExtraBold.woff2) format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../app/fonts/OpenSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../app/fonts/OpenSans-Medium.ttf) format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../app/fonts/OpenSans-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../app/fonts/OpenSans-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../app/fonts/OpenSans-Light.woff2) format("woff2");
}

@layer base {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .btn {
    @apply inline-block py-2 px-4 rounded;
  }
}

html,
body {
  overflow-x: hidden;

  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "OpenSans";
  font-weight: 400;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

:root:has(.no-scroll) {
  overflow: hidden;
}

.main {
  background-image: url("../assets/background-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e7e1ff;

  @media screen and (min-width: 768px) {
    background-image: url("../assets/background.webp");
  }
}
